.container__enter_box {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container__enter_box h1 {
  justify-content: center;
  text-align: center;
  font-size: 40px;
  color: white;
}

.container__enter_box > * {
  margin: 50px 0px;
}
